[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
python-telegram-bot = "*"
python-dotenv = "*"
md2tgmd = "==0.3.1"
httpx = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.13"
