[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
httpx = "*"
frozenlist = "*"
python-telegram-bot = {extras = ["job-queue"], version = "*"}
alembic = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
pydantic-settings = "*"
aiomysql = "*"

[dev-packages]
basedpyright = "*"

[requires]
python_version = "3.10"
